* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Ja resetei o css pra vc, agora so estilize!! Boa programação!! */
/* Se tiver uma duvida avisa */
/* Por favor, evite o uso de position absolute KAKAKAKAK */

