* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --bgContainer: linear-gradient(90deg, rgba(33,37,43,1) 0%, rgba(54,54,54,1) 50%, rgba(79,79,79,1) 87%);
    --cinzaclaro: #393E46;
    --cinzaescuro: #222831;
    --laranja: #FD7014;
}

main {
    padding: 30px;
    background-color: #222831;
    color: #FFFF;
}

h1{
    margin-bottom: 30px;
    font-size: 33px;
}

h2{
    font-size: 28px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 17px;
}

.header a:hover{
    color: var(--laranja);
    transition: 0.2s;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 165px;
    border-radius: 30px;
    background: var(--bgContainer);
    border: 1px solid #454545;

    margin-bottom: 20px;
}

.containerdupla{
    display: flex;
    justify-content: space-around;
}

img {
    width: 30%;
    height: auto;
}

.containertriplo{    
    display: flex;
    justify-content: space-between;
}




/* Ja resetei o css pra vc, agora so estilize!! Boa programação!! */
/* Se tiver uma duvida avisa */
/* Por favor, evite o uso de position absolute KAKAKAKAK */