.background-body {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #FFFFFF, #dedede);
    display: flex;
    flex-grow: 1;
    z-index: -1;
}

.background-body div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
}

.background-body div:nth-child(1) {
    background: linear-gradient(132deg, #1FCFC3 0.00%, #1F91CF 100.00%);
    width: 30%;
    padding-top: 30%;
    left: 20%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
}

.background-body div:nth-child(2) {
    background: linear-gradient(132deg, #0800FF 0.00%, #E32BE3 100.00%);
    width: 40%;
    padding-top: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.background-body div:nth-child(3) {
    background: linear-gradient(132deg, #1FCFC3 0.00%, #1F91CF 100.00%);
    width: 30%;
    padding-top: 30%;
    left: 80%;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
}

