* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    height: 100vh;
    background: #222831;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Hover Underline Animation */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000000;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffc940;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* Styles for Home Page */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #ccc; */
    background: linear-gradient(to bottom, #ccc, #eee);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.logomarca {
    margin: 10px 0 10px 10px;
    filter: drop-shadow(2px 2px 6px);
    border-radius: 5px;
}

.logo-marca {
    border-radius: 5px;
    height: 100px;
    width: 100%;
}

.div-search {
    display: flex;
    align-items: center;
}

.div-search>i {
    cursor: pointer;
    padding: 10px;
    background: #fbfbfb;
    margin: 0 0 0 7px;
    border-radius: 6px;
    transition: .2s ease-in-out;

    &:hover {
        background: #ffc940;
        transition: .2s ease-in-out;
    }
}

.div-search>input {
    padding: 10px;
    border: 0;
    border-radius: 4px;
    width: 400px;

    &:focus {
        outline: 2px solid #ffc940;
        background: #f1f1f1;
    }
}

.navbar-menu {
    display: flex;
    align-items: center;
    margin: 0 100px 0 0;
}

.navbar-menu .material-symbols-outlined {
    font-size: 30px;
    margin: 0 10px 0 0;
    font-weight: 300;
}

button {
    border: 0;
    background: transparent;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 20px;
    transition: .3s;

    &:hover {
        color: #FD7014;
        transition: .3s;
    }
}

.signUpBtn,
.loginBtn {
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #FD7014;
    padding: 15px 20px;
    box-shadow: 5px 5px 10px #FD7014;
    margin: 10px;
    border-radius: 5px;
    transition: .3s;

    &:hover {
        background: #FD7014;
        transition: .3s;
        color: #eee;
    }
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.navbar-items .item {
    cursor: pointer;
    list-style-type: none;
    margin: 0 40px 0 0;
    font-size: 20px;
    color: #fff;
}

/* Media Querys */

@media (width >= 1400px) {
    .products {
        max-width: 1500px;
    }

    .last {
        display: none;
    }
}

@media (width < 1400px) {
    .product-query {
        display: none;
    }
}

.hover-simple:hover {
    color: #FD7014;
    transition: .2s;
}