* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    height: 100vh;
    background: #222831;
}

#page {
    margin: 60px 0;
}

.header-title-container {
    margin: 0 0 20px 0;
}

.header-title-container h1,
p {
    margin: 0;
}

.title {
    font-size: 2em;
    color: #242e4c;
    font-weight: 600;
}

.title-container,
.data-container {
    display: flex;
    color: #fff;
    justify-content: center;
}

.content-container {
    display: flex;
    justify-content: center;
}

.content {
    background: #fff;
    color: #000;
    padding: 40px 60px;
    border-radius: 2.5rem;
    max-width: 900px;
}

.content h2 {
    color: #242e4c;
    font-weight: 500;
}