* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    height: 100vh;
    background: #222831;
}

#page {
    color: #fff;
    margin: 0 0 100px 0;
}

.terms__title {
    color: #242e4c;
    font-weight: 500;
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #242e4c;
}

.header-title h1 {
    font-weight: 600;
}

.content-container {
    display: flex;
    justify-content: center;
    margin: 80px 0 0 0;
}

.content {
    background: #fff;
    border-radius: 2.5rem;
    padding: 40px 60px;
    color: #545d7a;
    font-size: 18px;
    max-width: 900px;
    display: flex;
    justify-content: center;
}

.container p {
    text-align: justify;
}