* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    margin: 0;
    height: 100vh;
    background: #222831;
}

#page {
    color: #fff;
    margin: 0 0 100px 0;
}

.header-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
}
.content {
    background: #ccc;
    border-radius: 6px;
    padding: 20px 30px;
    color: #000;
    font-size: 18px;
    max-width: 800px;
    display: flex;
    justify-content: center;
} 