* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #222831;
}

header {
    margin: 0 0 65px 0;
}

footer {
    margin: 65px 0 0 0;
}


a {
    text-decoration: none;
    color: inherit;
}

.entrar-container {
    display: flex;
    justify-content: center;
}

.signin-container {
    background-color: #393E46;
    width: 500px;
    height: 440px;
    padding: 30px;
    border-radius: 70px;
    box-shadow: 2px 2px 25px #f8802f;
    border: 2px solid #1d2029;
}

.sign-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-header {
    color: #f8ddcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.form-header::after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    margin: 0 auto;
    background-color: #FD7014;
    position: absolute;
    border-radius: 25px;
}

.signUp-btn {
    border: 2px solid #1d2029;
    background-color: #393E46;
    border-radius: 5px;
    padding: 8px 22px;
    transition: 0.5s;
    cursor: pointer;
    width: 240px;
    color: #ccc;
    font-weight: bold;
}

.signUp-btn:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    background-color: #f77c2a;
    border: 2px solid #b64a02;
    color: #000;
}

.signUp-btn button {
    color: #ccc;
    cursor: pointer;
}

.signUp__btn {
    cursor: pointer;
    background: transparent;
    border: 1px solid #222831;
    width: 240px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .3s ease;
}

.signUp__btn:hover {
    background-color: #f77c2a;
    transition: .3s ease;
    transform: scale(0.95);
    box-shadow: 2px 2px 5px #f8802f;
    border: none;
    .btn__signUp {
        color: #fff;

    }
}

.btn__signUp {
    cursor: pointer;
    color: #ccc;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs1 {
    outline: none;
    border: 2px solid #f3cc61;
    padding: 8px 20px;
    border-radius: 17px;
    box-shadow: 1px 1px 8px #f8802f;
    font-size: 1em;
    margin: 20px;
    width: 19rem;
}


.icon-input {
    padding: 0;
    margin: 0;
    position: absolute;
    margin-left: 230px;
    color: #555555;
}


.input-checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0 0 80px;
}

.input-checkbox-container input[type="checkbox"]+label {
    cursor: pointer;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.remember_input {
    width: 10px;
}

.remember_label {
    color: #8f9092;
    font-size: 1rem;
}

.signup-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.cadastrar-btn {
    padding: 10px 60px;
    background-color: #f8802f;
    border: 1px solid #b64a02;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
    width: 240px;

    &:hover {
        box-shadow: 2px 2px 5px #f77c2a;
        transform: scale(0.95);
        color: #fff;
    }
}

/* 
.cadastrar-btn:hover {
    transition: 0.5s;
    background-color: rgb(240, 138, 70);
    padding: 10px 74px;
    margin-right: 47%;
    margin-left: 47%;
} */

.esqueceu-senha-container {
    display: flex;
    margin: 10px 0 0 76px;
}

.esqueceu-senha-btn {
    color: #f77c2a;
    text-decoration: underline;
    border: none;
    background: none;
    font-size: 0.98rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}