* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #222831;
}

header {
    margin: 0 0 60px 0;
}

footer {
    margin: 60px 0 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

hr{
    margin-bottom: 50px;
    width: 97%;
}

.header h1 {
    margin-left: 35px;
    font-size: 40px;
    color: #FFFF;
}

.header h1::after{
    content: '';
    width: 70px;
    height: 0.3rem;
    border-radius: 20px;
    background-color: #FD7014;
    display: block;
}

.product {
    background: #393e45;    
    display: flex;
    justify-content: space-between;
    margin-block-end: 60px;
    align-items: center;
    border-radius: 30px;
    width: 82%;
    height: 250px;
    object-fit: cover;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 2px 4px 5px #ee5208;
}

.image-product {
    display: flex;
    margin: 20px;
}

img {
    max-width: 210px;
    max-height: 210px;
    margin: 0 10px 0 0;
    border-radius: 30px;
}

.title {
    margin: 0 0 0 20px;
    margin-top: 30px;
    
}

.title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:26px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-bottom: 17px;
}

.title span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #bdbdbd;
    margin-bottom: 20px;
}

.btn-product{
    margin-top: 30px;
}

.button-favorites {
    border: 0;
    background: #fd7014;
    color: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    width: 300px;
    font-size: 16px;
    margin: 0 25px 0 0;
    cursor: pointer;
    transition: 0.4s;
}

.button-favorites:hover {
    background: #ee5208;
    transition: 0.4s;
}