:root {
    /* Transition*/
    --transition: 0.4s ease-in-out;

}

/* html {
    font-size: 62.5%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

html,
body {
    margin: 0;
}


body {
    background: #222831;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 2rem;
    display: grid;
    place-items: center;
}

.accordion__wrapper {
    background-color: #fff;
    box-shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05);
    border-radius: 2.5rem;
    width: 100%;
    max-width: 60rem;
    padding: 5rem;
}

.accordion__title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #242e4c;
    text-align: center;
    margin-bottom: 4rem;
}

.accordion {
    border-bottom: 0.1rem solid #dae1f5;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.accordion__icon {
    background-color: #FF4B4B;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    flex-shrink: 0;
}

.accordion__question {
    font-size: 1rem;
    font-weight: 500;
    color: #242e4c;
}

.accordion__answer {
    padding: 2rem 0;
    color: #242e4c;
}

.accordion__content {
    overflow: hidden;
    height: 0;
    transition: var(--transition);
}

@media screen and (min-width: 580px) {
    .accordion__wrapper {
        padding: 5rem 8rem;
    }
}